<div id="<%= "#{dom_id(note)}_details" %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <strong>Title:</strong> <%= note.title %> |
      <strong>Category:</strong> <%= note.notes_category.name %> |
      <strong>Author:</strong> <%= note.user.name %>
    </h5>

    <% unless controller.controller_name == "notes" && controller.action_name == "index" %>
      <p class="card-text">
        <strong>Description:</strong>
        <%= note.description %>
      </p>

      <p class="card-text" style="font-size: smaller;">
        <strong>Shared with:</strong>
        <%= note.shared_with.pluck(:name).map { |name| "<span class='highlight'>#{name}</span>" }.join(', ').html_safe %>
      </p>
    <% end %>
  </div>
</div>
