<p style="color: green"><%= notice %></p>

<% content_for :title, "Notes" %>


<div class="container">
  <h1>Notes</h1>
  <%= link_to "Create New note", new_note_path, class: "btn btn-primary" %>
  <%= link_to "Invite a user", new_user_invitation_path, class: "btn btn-success" %>
</div>
<br />
<br />
<div class="container">
  <div id="notes">
    <% @notes.each do |note| %>
      <%= render note %>
      <p>
      <%= link_to "Show this note", note %>
    </p>
    <% end %>
  </div>
</div>
<hr />
<div class="container">
  <h2>Shared notes</h2>
  <% @shared_notes.each do |note| %>
    <%= render note %>
  <% end %>
</div>


