<%= turbo_stream_from 'notes' %>
<%= turbo_stream_from 'shared-notes' %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Notes" %>


<div class="container">
  <h1>Notes</h1>
  <%= link_to "Create New note", new_note_path, class: "btn btn-primary" %>
  <%= link_to "Invite a user", new_user_invitation_path, class: "btn btn-success" %>
</div>
<br />
<br />
<div class="container">
  <% @notes.each do |note| %>
    <%= link_to note_path(note), class: "note-link text-decoration-none" do %>
      <%= render note %>
    <% end %>
  <% end %>
</div>
<hr />
<div class="container">
  <h2>Shared notes</h2>
  <div id='shared-notes'>
    <%= render collection: @shared_notes, partial: 'notes/shared_note' %>
  </div>
</div>
