<p style="color: green"><%= notice %></p>

<%= render @note %>

<div>
  <%= link_to "Edit this note", edit_note_path(@note), class: "btn btn-primary" %> |
  <%= link_to "Share this note", "#", data: { "bs-toggle": "modal", "bs-target": "#shareModal" }, class: "btn btn-success" %> |
  <%= link_to "Destroy this note", @note, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <br />
  <br />
  <%= link_to "Back to notes", notes_path, class: "btn btn-secondary" %>
</div>

<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel">Share Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(url: share_note_path(@note), method: :post) do |f| %>
          <div class="mb-3">
            <%= f.label :shared_with_id, "Select User", class: "form-label" %>
            <%= f.select :shared_with_id,
                User.where.not(id: current_user.id).collect { |u| [u.email, u.id] },
                { prompt: "Choose a user" },
                { class: "form-select" } %>
          </div>
          <%= f.submit "Share", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
