<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Notery" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #f0fdfa !important;">
    <div class="container">
      <nav class="navbar navbar-expand-lg" style="background-color: #f0fdfa !important;">
        <a class="navbar-brand" href="/">Notery App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Logged in as <%= current_user.name%> </span></a>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
